<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Viewcake</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="/public/css/app.css">
    </head>
    <body>
        <div class="reveal" id="reveal">
        </div>
        <div id="react"></div>
        <div id="socketInfo"></div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/public/js/bundle.js"></script>
        <script>
            var presentationName = "{{presentation}}";
        </script>

		{{{body}}}

    </body>
</html>