<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Viewcake</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="/public/css/app.css">
    </head>
    <body>
        <div class="reveal">
            <div class="slides">
                <section data-transition="fade">
                    <img style="border:none;" src="/public/img/Pixels-and-Pints-logo-350px.png" alt="Pixels and Pints Logo">
                    <h3>The Call @ 7pm</h3>
                    <h4>Next Pixels: March 3, 2016</h4>
                </section>
                <section>
                    <h4>Follow along!</h4>
                    <h2>pixels.viewcake.com</h2>
                </section>
                <section data-transition="zoom">
                    <h1>Semantics</h1>
                </section>
                <section>
                    <h1>Fancy Talk</h1>
                </section>
                <section>
                    <section>
                        <h1>Template</h1>
                    </section>
                    <section>
                        <h1>Theme</h1>
                    </section>
                    <section>
                        <h1>View</h1>
                    </section>
                </section>
                <section>
                    <section>
                        <h1>SaaS</h1>
                    </section>
                    <section>
                        <h1>Sass</h1>
                    </section>
                </section>
                <section>
                    <section>
                        <h1>Database</h1>
                    </section>
                    <section>
                        <h1>Data Model</h1>
                    </section>
                    <section>
                        <h1>Schema</h1>
                    </section>
                </section>
                <section>
                    <h1>Don't obfuscate</h1>
                    <h2 class="fragment">(i.e. confuse)</h2>
                </section>
                <section>
                    <h1>Ask for clarification</h1>
                </section>              
                <section>
                    <blockquote>
                        <h2>"Cry in the dojo, laugh on the battlefield."</h2>
                    </blockquote>
                </section>
                <section data-transition="zoom">
                    <a href="http://calgary.ca/hackathon/"><img src="/public/img/Hackathon2016-HeaderBanner.jpg" alt="Calgary Hackathon"></a>
               </section>
            </div>
        </div>
        <div id="react"></div>
        <div id="socketInfo"></div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/public/js/bundle.js"></script>

		{{{body}}}

    </body>
</html>