<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Viewcake</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="/public/css/app.css">
    </head>
    <body>
        <div class="reveal">
            <div class="slides">
                <section data-transition="zoom">
                    <h1>Semantics</h1>
                </section>
                <section data-transition="zoom">
                    <h1>Fancy Talk</h1>
                </section>
                <section>
                    <section>
                        <h1>Template</h1>
                    </section>
                    <section>
                        <h1>Theme</h1>
                    </section>
                    <section>
                        <h1>View</h1>
                    </section>
                </section>
                <section>
                    <section>
                        <h1>SaaS</h1>
                    </section>
                    <section>
                        <h1>Sass</h1>
                    </section>
                </section>
                <section>
                    <section>
                        <h1>Database</h1>
                    </section>
                    <section>
                        <h1>Data Model</h1>
                    </section>
                    <section>
                        <h1>Schema</h1>
                    </section>
                </section>
            </div>
        </div>
        <div id="react"></div>
        <div id="socketInfo"></div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/public/js/bundle.js"></script>

		{{{body}}}

    </body>
</html>