<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Viewcake</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="/public/css/app.css">
    </head>
    <body>
        <div class="reveal" id="reveal" data-presentation-id="{{presentationId}}">
        </div>
        <div class="overlays">
            <div id="donate"></div>
            <div class="stagehand-controls">
                <div id="timerControls"></div>
                <div id="resetControls"></div>                
            </div>
            <div id="socketInfo"></div>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/public/js/main.js"></script>

		{{{body}}}

    </body>
</html>