@import "reveal.js/css/reveal.scss";
@import "reveal.js/css/theme/source/simple.scss";

.LikeButton, #RecordButton {
	position: fixed;
	width: 6em;
	left: calc(50% - 3em);
	bottom: 2em;
	z-index: 100;
}

#socketInfo {
	p {
		position: fixed;
		right: 1em;
		bottom: 0;
		color: #5eb3b4;
	}
}

.chart-wrapper {
	display: flex;

	& > svg {
		width: 50%;
	}
	.poll-key {
		width: 50%;
	}

		.poll-key-entry {
			text-align: right;

			h4 {
				display: inline-block;
			}

			& > svg {
				height: 1em;
				display: inline-block;
			}
		}
}