@import "reveal.js/css/reveal.scss";
@import "reveal.js/css/theme/source/simple.scss";

button:not(.reset-button) {
	background: #0088cc;
	color: #fff;
	padding: 0.1em .5em .2em;
	border-radius: 0.5em;
	border: none;
	font-size: 1em;
	cursor: pointer;
	box-shadow: -2px 4px 4px 2px rgba(0,0,0,0.75);

	&:hover {
		background: #0000ee;
	}
}

.reset-button{
	margin-top: 3em;
}

.LikeButton, .stagehand-controls {
	position: fixed;
	width: 6em;
	left: calc(50% - 3em);
	bottom: 2em;
	z-index: 100;
}

.DonateButton {
	position: fixed;
	bottom: 1em;
	left: 1em;
	z-index: 100;
	max-width: 8em;
	background: #ff0000;
	color: #fff;
}

#socketInfo {
	position: fixed;
	right: 1em;
	bottom: 0;
	color: darken(#5eb3b4, 20%);
	font-size: 2vw;
	
	p {
		text-align: center;

		.square-count {
			font-size: 2em;
		}
	}
}

.Poll {

	h3 {
		margin-bottom: 1em;
	}


	.poll-answers {
	    display: inline-block;
	    text-align: center;
	    font-size: 1.25em;
	}
}
		.poll-answer {
			height: 3em;

		    label {
		    	color: #fff;
		    	background: #FFA500;
		    	padding: 0.5em;
		    	border-radius: 0.5em;
		    }

		    input[type="radio"] {
			    display: none;

			    &:checked {
			    	& + label {
			    		background: #FF0000;
			    	}
			    }
		    } 
		}


.chart-wrapper {
	display: flex;

	& > svg {
		width: 50%;
		margin-left: 1em;
		height: 480px;
	}
	.poll-key {
		width: 50%;
	}

		.poll-key-entry {
			text-align: right;

			h4 {
				display: inline-block;
				width: calc(100% - 2.5em);
			}

			& > svg {
				height: 1em;
				display: inline-block;
				margin-left: 0.5em;
			}
		}
}
.forms-wrapper {
	display: flex;
	flex-flow: row nowrap;
}

	.JobForm {
		display: flex;
		flex-flow: column nowrap;
		height: 100vh;
		width: 50%;
		justify-content: center;
		align-items: center;

			label {
				font-size: 0.7em;
			}

			input {
				font-size: 0.5em;
			}
	}