@import "reveal.js/css/reveal.scss";
@import "reveal.js/css/theme/source/simple.scss";

.LikeButton, .stagehand-controls {
	position: fixed;
	width: 6em;
	left: calc(50% - 3em);
	bottom: 2em;
	z-index: 100;
}

#socketInfo {
	position: fixed;
	right: 1em;
	bottom: 0;
	color: darken(#5eb3b4, 20%);
	font-size: 2vw;
	
	p {
		text-align: center;

		.square-count {
			font-size: 2em;
		}
	}
}

.poll-answers {
    display: inline-block;
    text-align: left;

    label {
    	font-size: 200%;
    	color: blue;
    	text-decoration: underline;
    }

    input[type="radio"] {
	    font-size: 100%;
	    position: relative;
	    top: -0.15em;
	    width: 1em;
    } 
}


.chart-wrapper {
	display: flex;

	& > svg {
		width: 50%;
		margin-left: 1em;
		height: 480px;
	}
	.poll-key {
		width: 50%;
	}

		.poll-key-entry {
			text-align: right;

			h4 {
				display: inline-block;
				width: calc(100% - 2.5em);
			}

			& > svg {
				height: 1em;
				display: inline-block;
				margin-left: 0.5em;
			}
		}
}

.JobForm {
	display: flex;
	flex-flow: column nowrap;
	height: 100vh;
	justify-content: center;
	align-items: center;

		label {
			font-size: 0.7em;
		}

		input {
			font-size: 0.5em;
		}
}